<h1>Display your Pirate here</h1>
<h2>Pirate Name: <%= @pirate.name %></h2>
<h2>Pirate Weight: <%= @pirate.weight %></h2>
<h2>Pirate Height: <%= @pirate.height %></h2>

<h2>Display your first ship here</h2>
<h2>Pirate Ship 1 Name: <%= @ship1.name %></h2>
<h2>Pirate Ship 1 Type: <%= @ship1.type %></h2>
<h2>Pirate Ship 1 Booty: <%= @ship1.booty %></h2>

<h2>Display your second ship here</h2>
<h2>Pirate Ship 2 Name: <%= @ship2.name %></h2>
<h2>Pirate Ship 2 Type: <%= @ship2.type %></h2>
<h2>Pirate Ship 2 Booty: <%= @ship2.booty %></h2>